doctype html
html(lang='en')  
  head  
    title Canvas Drawing  
    link(src="https://fonts.googleapis.com/css?family=Roboto",rel='stylesheet')
    style
      include css/style.css 
    script(src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2.7")
    script(type="text/javascript")
      include js/canvas.js 
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  body(onload="startup();",font-family="Roboto") 
    div(id="env",style="display: none;")= env
    div(class="site")
      div(class="site-border")
        span(class="site-width")
        div(class="site-header")
          h2 Draw a number on the canvas below
        div(class="site-midarea")
          div(class="canvas-box")
            h3 1. Draw a number on the canvas below
            canvas(id="myCanvas",width="280",height="280",style="border:2px solid black")
            br
            input(
              type="button" 
              id="clearArea" 
              value="Clear Area"
              width="80px"
              onclick="javascript:clearArea();return false;"
            )
          div(class="ctrl-box")
            h3 2. Format your input and build inference
            input(
              type="button" 
              id="prepareInput" 
              width="80px"
              value="Prepare"
              onclick="prepareInput()"
            )
            input(
              type="button" 
              id="buildInference" 
              value="Infer"
              width="80px"
              onclick="javascript:buildInference();"
            )
            div(id="prediction-tops")
            // hidden options (see css)
            select(id="selWidth")
              option(value="3") 3
              option(value="11") 11
              option(value="13") 13
              option(value="15") 15
              option(value="17") 17
              option(value="19",selected="selected") 19
            select(id="selColor")
              option(value="black",selected="selected") black
        div(class="site-out-box")
          div(class="output-container")
            div(class="output-log")
              p Log Messages:
              textarea(class="logging-area",id="logging-area",style="width: 500px; height: 200px;",align="bottom",readonly)
              // TODO: remove old output tag and js functions
              //div(class="output") 
              //div(id="preview-container")  
              //div(class="prediction")
                //div(id="prediction-title")
                //ol(id="prediction-list")
          div(class="output-preview",id="output-preview")
            p(id="preview-headline")
            div(id="preview")
        div(class="site-footer")
          div(class="pfooter")
            p about | contact