doctype html
html(lang='en')  
  head  
    title Image Recognition  
    style
      include css/style.css 
    script
      include js/script.js 
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  body(onload="startup();",font-family="Arial") 
    div(class="site-border")
        span(class="site-width")
        div(class="site-header")
          h2 Image Recognition Inference
        div(class="site-midarea")
          div(class="canvas-box")
            h3 1. Choose an image
            input(
              type="file" 
              id="imgpick" 
              value="Choose..."
              onchange="showPreview()"
              accept="image/png"
            )
            br
            img(id="preview-canvas",width="300px",border="1px")
          div(class="ctrl-box")
            h3 2. Upload image for inference
            input(
              type="button", 
              id="imgupload", 
              value="Upload",
              accept="image/png"
            )
            br
            div(class="output-container")
              div(class="output-log")
                textarea(class="logging-area",id="logging-area",style="width: 350px; height: 120px;",align="bottom",readonly)
              div(class="output-preview")
                div(id="preview")
        div(class="site-out-box")
          div(class="prediction")
             ol(id="prediction-list")
        div(class="site-footer")
          div(class="pfooter")
            p about | contact    
        //img(src="static/image.png") 
        //p
          
          // img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Pincerno_-_Einkommen_2010.png/800px-Pincerno_-_Einkommen_2010.png", width='400px') 
        //img.className#IdName(src="/image.png" alt="Image Title")
